div
{background-color: red; color: white; font-size: 32px; text-align: center; font-weight: bold;}

.explanation {
    background-color: darksalmon; font-family: Verdana, sans-serif;
}

#question {
    background-color: white;color: blue; font-size: 24px;
}

#answer {
    background-color: lightgreen; font-size: 24px; font-weight: bold;
}

#buttons {
    font-size: 28px; font-family: "Helvetica", "Times New Roman", sans-serif; background-color: white;
}

.click {
    background-color: black; color: white;
}

.clickme {
    background-color: yellow; color: black;
}